
body {
  text-align: center;
  background-color: black;
}

#titulo {
  color: white;
}

#pong {
  background-color: white;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  border: 7px solid #15ff00;
  border-radius: 5px;
}

#player-padel {
  background-color: #007bff;
} 

#ai-padel {
  background-color: #ff0000;
  right: 0px;
}

#ball {
  background-color: #00000a;
  width: 20px;
  height: 20px;
  left: 460px;
  top: 140px;
  border-radius: 50%;
  position: absolute;
}

.padel {
  height: 150px;
  width: 20px;
  position: absolute;
}

#restart {
  margin-top: 12px;
  background-color: black;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: #15ff00;
  border: 2px solid white;
}

#restart:hover {
  background-color: #15ff00;
  color: white;
}
